body{
  font-size: 1.5rem;
}
.re{
  position: relative;
}
.ab{
  position: absolute;
}
.video-container{
  width: 60%;
  margin: 0 auto;
}
.text-center{
  text-align: center;
}
.progress-bar-danger{
  background-color: #ffafb2;
}
.progress{
  background-color: #8e9950;
  border-radius: 1.5rem;
  height: 3rem;
  position: relative;
}
.progress .progress-value{
  position: absolute;
  right: 1rem;
  top: 0.6rem;
}
.video-box{
  display: flex;
  /*width: 100%;*/
  /*height: 4.6rem;*/
  overflow: hidden;
  margin-bottom: 1rem;
  align-items: center;
  justify-content: space-between;
  background: #e3bf85;
  padding: 0.8rem 0.6rem;
  border-radius: 0.5rem;
  border: 0.3rem solid #fff6d8;
}
.video-container::-webkit-scrollbar{
  width: 0.6rem;
  height: 0.5rem;
  display: block;
}

/* 设置滚动条的滑轨 */
.video-container::-webkit-scrollbar-track {
    background-color: #cba164;
    border-radius: 4px;
}

/* 滑块 */
.video-container::-webkit-scrollbar-thumb {
  background-color: rgba(255, 219, 37, 1);
  border-radius: 4px;
  width: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
}
.video-box img {
  width: 4rem;
  height: auto;
}
.video-box .user-name {
  max-width: 50%;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.video-box .user-name p{
  max-width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.video-box .likes{
  text-align: center;
}
.video-box i.fa-heart-o, .video-box.like i.fa-heart{
  display: inline-block; 
}
.video-box.like i.fa-heart-o, .video-box i.fa-heart{
  display: none; 
}

#shi{
  text-align: center;
  margin: 0 auto;
  width: 100%;
  padding-left: 0.5rem;
}
#shi p{
  font-size: 2rem;
  line-height: 1.8em;
}
#shi p.title{
  padding-right: 0.5rem;
}
#shi p.zuozhe{
  font-size: 1rem;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
}
@-webkit-keyframes shake {
  0% { height: 5px; margin-top: 0; }
  50% { height: 100px; margin-top: -50px; }
  100% { height: 5px; margin-top: 0; }
}
@keyframes shake {
  0% { transform: scale(1, 0.5); }
  50% { transform: scale(1, 1); }
  100% { transform: scale(1, 0.5); }
}
@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.mypulse{
  -webkit-animation: pulse 1s infinite;
  animation: pulse 1s infinite;
}

@keyframes swing {
  20% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -1deg);
  }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

.myswing {
  /*-webkit-transform-origin: top center;
  transform-origin: top center;*/
  -webkit-animation: swing 1s infinite;;
  animation: swing 1s infinite;;
}
.myswing-de {
  /*-webkit-transform-origin: top center;
  transform-origin: top center;*/
  -webkit-animation: swing 5s 0.3s infinite;;
  animation: swing 5s 0.3s infinite;;
}
.myswing-de2 {
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: swing 5s 0.5s infinite;;
  animation: swing 5s 0.5s infinite;;
}

.waves{
  position: relative;
  top: 0.5rem;
}
.waves i{
  width: 0.1rem;
  display: inline-block;
  /*background: #000;*/
  border-left: 0.15rem solid #000;
  padding: 0 0.1rem;
  height: 1.5rem;
}
.waves i:nth-child(1){
  transform: scale(1, 0.5);
}
.waves i:nth-child(2){
  transform: scale(1, 0.9);
}
.waves i:nth-child(3){
  transform: scale(1, 0.6);
}
.waves i:nth-child(4){
  transform: scale(1, 1);
}
.waves i:nth-child(5){
  transform: scale(1, 0.6);
}
.waves i:nth-child(6){
  transform: scale(1, 0.5);
}
.waves i:nth-child(7){
  transform: scale(1, 1);
}
.waves i:nth-child(8){
  transform: scale(1, 0.4);
}
.waves i:nth-child(9){
  transform: scale(1, 0.5);
}
.waves i:nth-child(10){
  transform: scale(1, 0.4);
}
/*animate*/
.on .waves i:nth-child(1){
  -webkit-animation: shake 1s 0.3s infinite;
}
.on .waves i:nth-child(2){
  -webkit-animation: shake 1s 0.1s infinite;
}
.on .waves i:nth-child(3){
  -webkit-animation: shake 1s infinite;
}
.on .waves i:nth-child(4){
  -webkit-animation: shake 1s 0.2s infinite;
}
.on .waves i:nth-child(5){
  -webkit-animation: shake 1s 0.4s infinite;
}
.on .waves i:nth-child(6){
  -webkit-animation: shake 1s 0.31429s infinite;
}
.on .waves i:nth-child(7){
  -webkit-animation: shake 1s  infinite;
}
.on .waves i:nth-child(8){
  -webkit-animation: shake 1s 0.4s infinite;
}
.on .waves i:nth-child(9){
  -webkit-animation: shake 1s 0.62857s infinite;
}
.on .waves i:nth-child(10){
  -webkit-animation: shake 1s 0.1s infinite;
}
